<div class="container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-push-1 col-sm-6 col-sm-push-3">
      <div class="text-center">
        <h1>Edit Post</h1>
      </div>
      <%= render partial: 'form', locals: {message: 'Edit post!'} %>
    </div>
  </div>
</div>
